<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fantasy_Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <header class="navBar text-right">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        {{#if logged_in}}
        <a class="navbar-brand" href="/">Main</a>
        <a class="navbar-brand" href="/dashboard">Dashboard</a>
        <button class="btn btn-link" id="logout">Log-out</button>
        <p class="navbar-brand ml-auto">You are logged in</p>
        {{else}}
        <a class="navbar-brand" href="/">Main</a>
        <a class="navbar-brand" href="/dashboard">Dashboard</a>
        <a class="navbar-brand" href="/login">Login</a>
        {{/if}}
      </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    <script src="/JS/logout.js"></script>
</body>
</html>